pkgbase = decman
	pkgdesc = Declarative package & configuration manager for Arch Linux.
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/kiviktnm/decman
	arch = any
	license = GPL3
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-requests
	depends = devtools
	depends = pacman
	depends = systemd
	depends = git
	optdepends = less: reviewing files such as PKGBUILDs
	optdepends = flatpak: manage flatpak packages
	source = decman-0.4.2.tar.gz::https://github.com/kiviktnm/decman/archive/refs/tags/0.4.2.tar.gz
	sha256sums = 4ddd3a74f019de70b5338cbaec4946e8556ca2e746a293ac65ad02770c4c059a

pkgname = decman
