pkgbase = decman
	pkgdesc = Declarative package & configuration manager for Arch Linux.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/kiviktnm/decman
	arch = any
	license = GPL3
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-requests
	depends = pyalpm
	depends = devtools
	depends = pacman
	depends = systemd
	depends = git
	depends = less
	optdepends = flatpak: manage flatpak packages
	source = decman-1.0.0.tar.gz::https://github.com/kiviktnm/decman/archive/refs/tags/1.0.0.tar.gz
	sha256sums = 268fe706dc4c86a1e1fc4d09170e01110069c90eefbd2773520d6647066c45c4

pkgname = decman
