pkgbase = decman
	pkgdesc = Declarative package & configuration manager for Arch Linux.
	pkgver = 1.2.2
	pkgrel = 2
	url = https://github.com/kiviktnm/decman
	arch = any
	license = GPL3
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-requests
	depends = pyalpm
	depends = devtools
	depends = pacman
	depends = systemd
	depends = git
	depends = less
	optdepends = flatpak: manage flatpak packages
	source = decman-1.2.2.tar.gz::https://github.com/kiviktnm/decman/archive/refs/tags/1.2.2.tar.gz
	sha256sums = 4f448ad712d76eef60fe856373db1ebbde88d8a5db3e429392245d03b78bb128

pkgname = decman
